@charset "utf-8";

body {
	background-color: #585D61;
	background-image:url(../archivos/page_gl.png);
	background-repeat:no-repeat;
	margin-left: 0px;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	font:Calibri;
}
.logo_cliente {
	margin-top: 3px;
}
.logo_digitech {
	height: 34px;
	width: 103px;
	margin-top: 10px;
	margin-left: 50px;
}


.btnx {

	cursor: pointer;
	border:hidden;
	background-color:transparent;
	margin-left: auto;
}
-->
</style>


