@charset "utf-8";

table {
  border-collapse: collapse;
  border: 1px solid #03476F;
  font: normal 11px verdana, arial, helvetica, sans-serif;
  color: #363636;
  background:#FBFDFF;
  }

  .boton{
cursor: pointer;
}