<style type="text/css">
<!--
body {
	background-image:url(archivos/wallpaper.PNG);
	margin-left: 0px;
	margin-right: 0px;
	margin-top:0px;*/
	margin-bottom:0px;
	z-index:1;
    font:Calibri;
	
}
.boton{
cursor:pointer;
}
.table{
border: 1px ridge black;
border-color:#000099;
}
.logo_cliente {
	margin-top: 7px;
	margin-left: 65px;
	}
.logo_digitech {
	height: 34px;
	width: 103px;
	margin-top: 10px;
	margin-left: 25px;
}
.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	background-position: center;
}
.titulo1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #000099;
	line-height: 18px;
	font-style: normal;
}
.titulo2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #000099;
	line-height: 18px;
	font-style: normal;
}
.btn1 {
	width: 120px;
	height: 130px;
	cursor: pointer;
	background-image: url("../valevistas/maestro/archivos/icgr01.jpg");
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1px;
	font-weight: normal;
	background-position: center center;
	border: 1px solid #f4f8f9;
	background-color: #f4f8f9;
	margin-right: auto;
	margin-left: auto;
}
.btn2 {
	width: 120px;
	height: 130px;
	cursor: pointer;
	background-image: url("../valevistas/maestro/archivos/icgr02.jpg");
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1px;
	font-weight: normal;
	background-position: center center;
	border: 1px solid #f4f8f9;
	background-color: #f4f8f9;
}
.btn3 {
	width: 120px;
	height: 130px;
	cursor: pointer;
	background-image: url("../valevistas/maestro/archivos/icgr07.jpg");
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1px;
	font-weight: normal;
	background-position: center center;
	border: 1px solid #f4f8f9;
	background-color: #f4f8f9;
}
.btn31 {
	width: 122px;
	height: 26px;
	cursor: pointer;
	background-image: url("../valevistas/maestro/archivos/ic_ingresar2.png");
	background-repeat: no-repeat;
	float: left;
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1px;
	font-weight: normal;
	background-position: center center;
	border: 1px solid #f4f8f9;
	background-color: #f4f8f9;
	color: #26A500;
}
.btnrest {
	width: 36px;
	height: 27px;
	cursor: pointer;
	background-image: url("../valevistas/maestro/archivos/ic_restablecer3.png");
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1px;
	font-weight: normal;

	border: 1px solid #f4f8f9;

}.btn6 {
     width: 56px;
	height: 26px;
	cursor: pointer;
	background-image: url("../valevistas/maestro/archivos/ic_hasta.png");
	background-repeat: no-repeat;
	/*float: left;*/
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0px;
	font-weight: normal;
	background-position: center;
	vertical-align:middle;
	border: 1px solid #ccd6db;
	background-color: #ccd6db;
	color: #9A0002;


}.btn7 {
    width: 56px;
	height: 26px;
	cursor: pointer;
	background-image: url("../valevistas/maestro/archivos/ic_desde.png");
	background-repeat: no-repeat;
	/*float: left;*/
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0px;
	font-weight: normal;
	background-position: center;
	vertical-align:middle;
	border: 1px solid #ccd6db;
	background-color: #ccd6db;
	color: #9A0002;

}.btn8 {
    width: 125px;
	height: 20px;
	cursor: pointer;
	background-image: url("../valevistas/maestro/archivos/btn_62.gif");
	background-repeat: no-repeat;
	/*float: left;*/
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0px;
	font-weight: normal;
	background-position: center;
	vertical-align:middle;
	border: 1px solid #ccd6db;



}.div2{
float:left;
}.div1{
float:right;
}.btncalendar {
    width: 15px;
	height: 22px;
	cursor: pointer;
	background-image:url(archivos/xls2.png);
	background-repeat: no-repeat;
	float: center;
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0px;
	font-weight: normal;
	background-position: center;
	vertical-align:middle;
	border: 0px thin #ccd6db;
	background-color:transparent;



}
.Estilo1 {
	color: #CCCCCC;
	font-weight: bold;
	font-size: 12px;
}

-->
</style>
