@charset "utf-8";

body {
	background-color: #585D61;
	background-image:url(archivos/page_gl.png);
	background-repeat:no-repeat;
	margin-left: 0px;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 0px;
	font:Calibri;
}
.logo_cliente {
	margin-top: 3px;
}
.logo_digitech {
	height: 34px;
	width: 103px;
	margin-top: 10px;
	margin-left: 50px;
}
.btn {
	width: 120px;
	height: 130px;
	margin: auto;
}
.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	background-position: center;
}
.titulo1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #000099;
	line-height: 18px;
	font-style: normal;
}
.titulo2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #000099;
	line-height: 18px;
	font-style: normal;
}
.btnx {

	cursor: pointer;
	border:hidden;
	background-color:transparent;
	margin-left: auto;
}
.btn1 {
	width: 120px;
	height: 130px;
	cursor: pointer;
	background-image: url(archivos/icgr01.jpg);
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1px;
	font-weight: normal;
	background-position: center center;
	border: 1px solid #f4f8f9;
	background-color: #f4f8f9;
	margin-right: auto;
	margin-left: auto;
}
.btn2 {
	width: 120px;
	height: 130px;
	cursor: pointer;
	background-image: url(archivos/icgr02.jpg);
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1px;
	font-weight: normal;
	background-position: center center;
	border: 1px solid #f4f8f9;
	background-color: #f4f8f9;
}
.btn3 {
	width: 120px;
	height: 130px;
	cursor: pointer;
	background-image: url(archivos/icgr07.jpg);
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1px;
	font-weight: normal;
	background-position: center center;
	border: 1px solid #f4f8f9;
	background-color: #f4f8f9;
}
.cont2_txtCaja {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	font-weight: normal;
	height: 20px;
}
.btn11 {
	width: 130px;
	height: 32px;
	cursor: pointer;
	background-image: url(archivos/ic-volver.jpg);
	background-repeat: no-repeat;
	float: left;
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0px;
	font-weight: normal;
	background-position: center center;
	border: 1px solid #f4f8f9;
	background-color: #f4f8f9;
	color: #9A0002;
}
.btn21 {
	width: 130px;
	height: 32px;
	cursor: pointer;
	background-image: url(archivos/ic_restablecer.jpg);
	background-repeat: no-repeat;
	float: left;
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0px;
	font-weight: normal;
	background-position: center center;
	border: 1px solid #f4f8f9;
	background-color: #f4f8f9;
	color: #0064B4;
}
.btn31 {
	width: 130px;
	height: 32px;
	cursor: pointer;
	background-image: url(archivos/ic_consultar.jpg);
	background-repeat: no-repeat;
	float: left;
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1px;
	font-weight: normal;
	background-position: center center;
	border: 1px solid #f4f8f9;
	background-color: #f4f8f9;
	color: #26A500;
}
.cont2_txt {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	font-weight: normal;
	text-align: right;
	padding-right: 10px;
}

<style type="text/css">
<!--
body {
	background-color: #585D61;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.logo_cliente {
	margin-top: 7px;
	margin-left: 65px;
}
.logo_digitech {
	height: 34px;
	width: 103px;
	margin-top: 10px;
	margin-left: 50px;
}
.btn {
	width: 120px;
	height: 130px;
	margin: auto;
}
.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	background-position: center;
}
.titulo1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #000099;
	line-height: 18px;
	font-style: normal;
}
.titulo2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #000099;
	line-height: 18px;
	font-style: normal;
}
.btn1 {
	width: 120px;
	height: 130px;
	cursor: pointer;
	background-image: url(archivos/Impresion.jpg);
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1px;
	font-weight: normal;
	background-position: center center;
	border: 1px solid #f4f8f9;
	background-color: #f4f8f9;
	margin-right: auto;
	margin-left: auto;
}
.btn2 {
	width: 120px;
	height: 130px;
	cursor: pointer;
	background-image: url(archivos/ic_workflow.jpg);
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1px;
	font-weight: normal;
	background-position: center center;
	border: 1px solid #f4f8f9;
	background-color: #f4f8f9;
}
.btn3 {
	width: 120px;
	height: 130px;
	cursor: pointer;
	background-image: url(archivos/ic_nominasControl.jpg);
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1px;
	font-weight: normal;
	background-position: center center;
	border: 1px solid #f4f8f9;
	background-color: #f4f8f9;
}
.btn4 {
	width: 120px;
	height: 130px;
	cursor: pointer;
	background-image: url(archivos/FirmaDigital.jpg);
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1px;
	font-weight: normal;
	background-position: center center;
	border: 1px solid #f4f8f9;
	background-color: #f4f8f9;
}
.btn5 {
	width: 120px;
	height: 130px;
	cursor: pointer;
	background-image: url(archivos/ic_CuadraturaInformes.jpg);
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1px;
	font-weight: normal;
	background-position: center center;
	border: 1px solid #f4f8f9;
	background-color: #f4f8f9;
	margin-right: auto;
	margin-left: auto;
}
.btn6 {
	width: 120px;
	height: 130px;
	cursor: pointer;
	background-image: url(archivos/ic_cargaBases.jpg);
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1px;
	font-weight: normal;
	background-position: center center;
	border: 1px solid #f4f8f9;
	background-color: #f4f8f9;
	margin-right: auto;
	margin-left: auto;
}
.btn7 {
	width: 120px;
	height: 130px;
	cursor: pointer;
	background-image: url(archivos/ic_administrador.jpg);
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1px;
	font-weight: normal;
	background-position: center center;
	border: 1px solid #f4f8f9;
	background-color: #f4f8f9;
	margin-right: auto;
	margin-left: auto;
}
.btn8 {
	width: 120px;
	height: 130px;
	cursor: pointer;
	background-image: url(archivos/ic_salir.jpg);
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1px;
	font-weight: normal;
	background-position: center center;
	border: 1px solid #f4f8f9;
	background-color: #f4f8f9;
	margin-right: auto;
	margin-left: auto;
}
.btn22 {
	width: 120px;
	height: 130px;
	cursor: pointer;
	background-image: url(archivos/icgr05.jpg);
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1px;
	font-weight: normal;
	background-position: center center;
	border: 1px solid #f4f8f9;
	background-color: #f4f8f9;
	margin-right: auto;
	margin-left: auto;
}
.btn77 {
	width: 120px;
	height: 130px;
	cursor: pointer;
	background-image: url(archivos/ControlInterno.jpg);
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1px;
	font-weight: normal;
	background-position: center center;
	border: 1px solid #f4f8f9;
	background-color: #f4f8f9;
	margin-right: auto;
	margin-left: auto;
}

-->
</style>


