﻿<HTML>
<HEAD>
<META NAME="GENERATOR" Content="Microsoft Visual Studio 6.0">
<TITLE></TITLE>
</HEAD>
<BODY>

<INPUT type="text" id="text1" name="text1" sizeE>&nbsp;
<INPUT type="button" value=" ... " id="button1" name="button1"
onclick=" VBScript:text1.value = fnShellBrowseForFolderVB()">

<script language="VBScript">
function fnShellBrowseForFolderVB()
alert("asd")
On Error Resume Next
dim objShell,strPath,returnerror,intColonPos
dim ssfWINDOWS,ssfMYPICTURES,ssfDRIVES,ssfDESKTOP,ssfPERSONAL
dim objFolder

ssfWINDOWS = 36
ssfMYPICTURES = 39
ssfDRIVES = 17
ssfDESKTOP = 0
ssfPERSONAL = 5
set objShell = CreateObject("Shell.Application")
set objFolder = objShell.BrowseForFolder(&H0, "Seleccione a pasta para guardar.", 0, ssfPERSONAL)

if (not objFolder is nothing) then
Set oFolderItem = objFolder.Items.Item
msgbox(oFolderItem.Path)
fnShellBrowseForFolderVB = oFolderItem.Path
end if

set objFolder = nothing
set objShell = nothing
end function
</script>

</BODY>
</HTML>
